@charset "utf=8";

*{
    margin: 0;
    padding: 0;
}
img{
    width: 100vw;
    height: 100vh;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
#home{
    background-color: rgb(0, 0, 0);
}