@charset "utf=8";
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');


*{
    font-family: "Parisienne", cursive;
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(rgb(243, 137, 137), rgb(243, 144, 243));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    background-color: rgba(132, 0, 255, 0.233);
    height: 150px;
    display: block;
    
}
h1{
    text-align: center;
    padding: 35px;
    font-weight: bolder;
    font-size: 2em;

}
section>div{
    display: block;
    text-align: center;
    margin: auto;
    min-width: 20px;
    min-height: 20px;

}