@charset "utf=8";
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');


*{
    font-family: "Parisienne", cursive;
    padding: 0;
    margin: 0;
}
body{
    background: radial-gradient(circle, rgb(255, 0, 0), rgb(255, 0, 255) , rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    background-color: rgba(132, 0, 255, 0);
    margin: auto;
    
    
}
h1{
    text-align: center;
    padding: 35px;
    font-weight: bolder;
    font-size: 2em;

}
section>div{
    display: flex;
    margin: auto;
    padding: 20px;

}
section img{
    text-align: center;
    margin: auto;
    width: 50vw;
    height: 70vh;
}