@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
    font-family: "Parisienne", cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgb(255, 0, 0), rgb(255, 0, 255), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

h1 {
    text-align: center;
    padding: 35px;
    font-weight: bolder;
    font-size: 2em;
    color: white;
}

section#quadro {
    position: relative;
    margin: auto;
    width: 90vw; 
    max-width: 278px;
    aspect-ratio: 278 / 486;
    background-image: url(img/quadro.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

iframe#tela {
    position: absolute;
    top: 17.7%;    
    left: 21.3%;   
    width: 58%;  
    height: 63.7%; 
    border: none;
    background-color: black;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

nav {
    text-align: center;
    padding: 10px;
}

header>nav>a.Foto{
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    width: 50px;
    height: 60px;
    line-height: 40px; 
    text-align: center;
}

header>nav>a#home img{
    width: 50px;
    height: 60px;
    vertical-align: middle;
    border-radius: 20px;
}

header>nav>a.Foto:hover{
    border: 2px solid red;
}
header>nav>a.Foto:focus{
    border: 2px solid red;
}
